* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: rgb(190, 187, 187);
  }

  /* NAV BAR*/
  .sign a {
    background-color: rgb(199, 128, 36);
    color: white;
    font-size: 15px;
    border: 2px solid rgb(146, 140, 140);
    border-radius: 10%;
    padding: 5px;
    text-decoration: none;
  }

  .ul {
    background-color: black;
    padding: 10px;
  }

  .ptag {
    margin-right: 75%;
    color: orange;
    font-weight: 750;
    font-size: x-large;
  }

  .nav-item a {
    color: orange;
    font-size: 20px;
  }

  .nav-item .aa {
    color: white;
    font-size: 20px;
  }

  .image {
    width: 70px;
    height: 60px;
    border-radius: 50%;
  }

  .secimg {
    width: 100%;

  }

  /*hover ul*/
  .newone ul li a {
    color: orange;
    text-decoration: none;
    text-align: center;
    display: block;
    height: 50px;
    width: 150px;
    line-height: 50px;
  }

  .newul {
    position: absolute;
    background-color: black;
    visibility: hidden;
  }
  .newone:hover>.newul {
    visibility: visible;

  }
    /*hover 2*/
    .newone ul li ul li a {
        color: orange;
        text-decoration: none;
        text-align: center;
        display: block;
        height: 50px;
        width: 150px;
        line-height: 50px;
      }
    
      .newul {
        position: absolute;
        background-color: black;
        visibility: hidden;
      }
      .click3:hover>.newul {
        visibility: visible;
    margin-left: 30px;
    list-style: none;
      }

  /*heading*/
  .heading {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
  }

  /*images*/
  .black {
    width: 100%;
    height: 77vh;
    background-color: rgb(230, 154, 83);
    background-image: url(https://static.vecteezy.com/system/resources/previews/011/171/111/original/white-background-with-orange-geometric-free-vector.jpg);

  }

  #one img {
    float: left;
    margin: 2%;
  }

  .fourimg {
    display: flex;
    width: 40%;
    padding-left: 8%;
  }

  @media (max-width:600px) {
    .black {
      width: 100%;
      height: 30vh;
    }
  }

  .fourimg:hover {
    transform: scale(1.1);
    z-index: 2;
  }

  /* 3 divs*/
  .main {
    display: flex;
    margin: 60px;
    margin-left: 200px;

  }

  @media (max-width:600px) {
    .main {
      display: flex;
      margin: 60px;
      margin-left: 70px;
    }
  }

  .card {
    margin: 10px;
  }

  .card :hover {
    transform: scale(1.1);
    z-index: 2;
  }

  .coloring {
    background-color: rgb(240, 200, 22);
  }

  /*register*/
  .register {
    margin-top: 5%;
    text-align: center;
    width: 100%;
    height: 450px;
    background-image: url(https://www.shutterstock.com/image-photo/texture-dark-concrete-floor-mist-260nw-513032461.jpg);
    background-size: cover;
  }

  .register p {
    color: aliceblue;
    font-size: large;
  }

  .register input {
    background-color: rgb(199, 151, 80);
    border-radius: 20%;
  }

  .regimg {
    width: 15%;
    margin-top: 15px;


  }

  /* external css: flickity.css */
  .heading1 {
    padding-top: 4px;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
  }

  .carousel {
    width: 100%;
    height: 30vh;
  }

  .carousel-cell.is-selected {
    background: #ED2;
  }

  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

  .carousel-three {
    width: 30%;
    height: 100%;
    margin-right: 10px;
    border-radius: 50px;
    counter-increment: carousel-three;
    margin-right: 10px;
  }

  .carousel-three img {
    width: 100%;
    height: 100%;
    border-radius: 60%;
  }

  @media (max-width:600px) {
    .carousel {
      width: 100%;
      height: 12vh;
    }
  }
          /*pic section*/
          .pakages{
            background-color: black;
            display: grid;
            grid-column: 2;
            
        }
        .package{
margin-top: 20px;
margin-left: 20px;
        }
        .package :hover {
    transform: scale(1.1);
    z-index: 2;
  }
/* basic princiles*/
div .heading2{
text-align: center;
color: aliceblue;
padding-top: 55px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 4vh;
text-decoration: underline;
}

.second li{
text-align: center;
color: rgb(7, 7, 7);
font-weight: 1000;
font-size: large;
padding-right: 15px;
list-style: none;
}

  /*footer*/
  footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 50px;
  }